.faqs {
    background-image: url(../img/faqs-img/Rectangle\ 150.png);
}

.faqs h1 {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    margin-top: 2rem;
}

.fa-search {
    color: #5da3d7;
}

.has-search .form-control {
    padding-left: 2.7rem;
    max-width: 600px;
    margin: auto;
    margin-bottom: 2rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.7rem;
    height: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
    pointer-events: none;
    color: #c4c4c4;
}

.questions {
    padding: 3rem;
}

.questions h1 {
    margin: 0 auto;
    width: 55%;
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 128%;
    color: #242423;
    padding-bottom: 2rem;
}

.option {
    margin: 1rem auto;
    width: 80%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 155.1%;
    color: #4f4f4f;
}

.any-questions {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.any-questions h2 {
    font-style: normal;
    color: #242423;
    margin: 0 auto;
}

.any-questions p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4f4f4f;
    max-width: 600px;
    margin: auto;
}

.fa-caret-down-icon {
    position: relative;
    left: 1rem;
}

.faqs .dropdown .caret-down {
    position: relative;
    left: 18rem;
    top: -3rem;
    margin-left: .255em;
    vertical-align: .255em;
    display: inline-block;
    color: #215885;
    width: 0;
    height: 0;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.faqs .dropdown .caret-down {
    left: 42rem;
}