 <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="home-img/footer_logo.png" class="mb-3">
            <p class="footer-txt mb-3">Our goal is to make hostel accommodation accessible to all students
              across the
              country.</p>
            <div class="col-12 social padding">
              <a title="Hostel Paddy on Instagram" class="social-link" href="https://instagram.com/hostelpaddy">
                <i class="fab fa-instagram footer-icon"></i>
              </a>
              <a title="Hostel Paddy on Twitter" class="social-link" href="https://twitter.com/hostelpaddy">
                <i class="fab fa-twitter footer-icon"></i>
              </a>
              <a title="Hostel Paddy on Facebook" class="social-link" href="https://facebook.com/hostelpaddy1">
                <i class="fab fa-facebook footer-icon"></i>
              </a>
            </div>
            <p>&copy; 2021 Team Chernobyl</p>
          </div>
          <div class="col-md-4">
            <h5>Products</h5>
            <p><a href="about.html">About Us</a></p>
            <p><a href="/auth-pages/onboarding.html">Sign up</a></p>
            <p><a href="/auth-pages/onboarding.html">Login</a></p>
            <p><a href="https://blog.hostelpaddy.com">Blog</a></p>
            <p><a href="hostels.html">Listed hostels</a></p>
            <p><a href="#">House owners/agents</a></p>
          </div>
          <div class="col-md-4">
            <h5>Support</h5>
            <p><a href="contact.html">Contact Us</a></p>
            <p><a href="faqs.html">FAQs</a></p>
            <p><a href="tos.html">Terms of services</a></p>
            <p><a href="privacy.html">Privacy policy</a></p>
            <!-- </div> -->
          </div>
        </div>
    </footer>

    <!-- Vendor scripts -->
    <script src="vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


    <script>
      let copyRight = document.getElementById("copyright"),
        date = new Date(),
        copyrightYear = date.getFullYear();
      copyRight.innerText = copyrightYear;
    </script>

  </body>

</html>
