 <section id="header" class="header">
      <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container d-flex justify-content-between">
          <div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <img src="img/hamburger menu.png" class="img-fluid" alt="">
            </button>
          </div>

          <div class="navbar-brand">
            <a class="" href="/">
              <img alt="HostelPaddy logo" src="home-img/logo.png" />
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav justify-content-center">
              <li class="nav-item active">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="hostels.html">Listed hostels</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Home owners/agents</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="help.html">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://blog.hostelpaddy.com">Blogs</a>
              </li>
            </ul>
          </div>

          <div class="mobile-signup">
            <a class="btn btn-primary signup" href="/auth-pages/onboarding.html">Sign Up</a>
          </div>
        </div>
      </nav>
    </section>
